{% extends "base.twig" %}

{% block content %}

<div class="row pt-5">
    <div class="col-3">
        <img src="{{ post.thumbnail.src('large') }}" alt="img" width="100%" class="rounded">
    </div><!-- col-3 -->
    <div class="col-9 text-start">
        <h2 class="fw-bold border-bottom border-secondary pb-4">
            {{ post.title }}
        </h2><!-- fw-bold border-bottom border-secondary pb-4 -->
        <div class="fst-italic fw-light mt-4">
            {# Display content by user capability #}
            {{ user.can('read') ? post.content : 'You must be logged to see this!' }}
        </div><!-- fst-italic fw-light mt-4 -->
        <div>
            {% if post.meta('favourite_places') %}
            <h5 class="mt-4">Favourite places:</h5><!-- mt-4 -->
            {% for place in post.meta('favourite_places') %}
            <span class="badge fs-6 bg-secondary">{{ place.title }}</span><!-- badge badge-secondary -->
            {% endfor %}
            {% endif %}
        </div>
    </div><!-- col-9 text-end -->
</div><!-- row -->

<div class="container mt-5">
    <hr class="mt-5">
    <h3 class="text-center text-secondary fw-light pt-3">See also:</h3><!-- text-center text-secondary fw-light -->

    <div class="row mt-5">
        {% for person in people %}
        {% if person.id != post.id %}
        <div class="col text-center text-secondary mb-5">
            <img src="{{ person.thumbnail.src('thumbnail') }}" class="border border-dark rounded-circle" alt="img">
            <h5 class="pt-2 text-secondary">
                <a href="{{ person.link }}">{{ person.title }}</a>
            </h5><!-- pt-2 text-secondary -->
        </div><!-- col text-center text-secondary mb-5 -->
        {% endif %}
        {% endfor %}
    </div><!-- row mt-5 -->
</div><!-- container mt-5 -->

<div class="container">
    {% from "parts/macros.twig" import table_header, table_row %}
    {% set table = post.meta('table') %}
    {% set options = post.meta('options') %}

    <!-- Table header -->
    {{ table_header(table, options) }}
            <!-- Table row -->
            {% for article in post.meta('articles') %}
                {{ table_row(table, article, category_labels) }}
            {% endfor %}

            <!-- Table footer -->
        </tbody>
    </table>
</div><!-- container -->

{% endblock %}