{% extends "base.twig" %}

{% block content %}

<div class="row">

    {% set featured_list = [] %}

    <!-- Left colum -->
    <div class="col-8">
        {% if post.meta('top_story') %}
        {% set top = post.meta('top_story') %}
        <div class="row rounded pt-2">
            <div class="col-4">
                <img width="100%" src="{{ theme.link }}/images/news/{{ top.slug }}.jpg" class="mt-2 mb-3" alt="img">
            </div><!-- col-4 -->
            <div class="col-8">
                <h3 class="fw-bold">
                    <a href="{{ top.link }}" class="text-dark">{{ top.title }}</a><!-- text-dark -->
                </h3><!-- fw-bold -->
                {{ top.content|excerpt(50) }}
                <a href="{{ top.link }}" class="badge text-bg-light">Read more</a><!-- badge badge-light -->
            </div><!-- col-8 -->
        </div><!-- row rounded pt-2 -->
            {% set featured_list = featured_list|merge([top.id]) %}
        {% endif %}

        <!-- Featured news -->
        {% if post.meta('featured_news') %}
        <div class="row mt-4">
            {% for news in post.meta('featured_news') %}
            <div class="col">
                <img width="100%" src="{{ theme.link }}/images/news/{{ news.slug }}.jpg" alt="img"
                    class="mt-2 mb-3 rounded">
                <h6 class="fw-bold">
                    <a href="{{ news.link }}" class="text-dark">{{ news.title }}</a><!-- text-dark -->
                </h6><!-- fw-bold -->
            </div><!-- col -->
            {% set featured_list = featured_list|merge([news.id]) %}
            {% endfor %}
        </div><!-- row mt-4 -->
        {% endif %}

        <!-- Promoted people -->
        <hr>
        <div class="row mt-3">
            {% for person in promoted_people.posts({ posts_per_page: 3, orderby: 'rand' }) %}
                <div class="col-4">
                    <div class="card bg-success text-white border-light">
                        <img src="{{ person.thumbnail.src('full') }}" class="card-img-top" alt="img">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ person.title }}</h5>
                            <p class="card-text">{{ person.content|excerpt(5) }}</p><!-- card-text -->
                            <a href="{{ person.link }}" class="btn btn-light">Visit profile</a><!-- btn btn-light -->
                        </div><!-- card-body -->
                    </div><!-- card bg-success text-white border-light -->
                </div><!-- col-4 -->
            {% endfor %}
        </div><!-- row mt-3 -->
    </div><!-- col-8 -->

    <!-- Right colum -->
    <div class="col-4">

        {{ include('parts/latest-news.twig', {
            label: 'Events',
            color: 'primary',
            term: events
        }) }}
        {{ include('parts/latest-news.twig', {
            label: 'Sport',
            color: 'warning',
            term: sport
        }) }}
        {{ include('parts/latest-news.twig', {
            label: 'Animals',
            color: 'success',
            term: animals
        }) }}
        {{ include('parts/latest-news.twig', {
            label: 'Architecture',
            color: 'info',
            term: architecture
        }) }}

    </div><!-- col-4 -->
</div><!-- row -->

{% endblock %}