<!doctype html>
<html {{ site.language_attributes }}>

<head>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ theme.link }}/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  {{ function('wp_head') }}
</head>

<body>
  {% block nav %}
    {{ include('parts/nav.twig') }}
  {% endblock %}

  {% block subheader %}{% endblock %}

  <div class="container my-3">
    {% block content %}
    Empty!
    {% endblock %}
  </div><!-- container mx-3 -->

  <div class="container-fluid bg-dark py-4 mt-5">
    <ul class="nav d-flex justify-content-center">
      {% for item in secondary_menu.get_items %}
        <a href="{{ item.link }}" class="nav-link text-light">{{ item.title }}</a><!-- nav-link text-light -->
      {% endfor %}
    </ul><!-- nav justify-content-center -->
  </div><!-- container-fluid bg-dark py-4 mt-5 -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

  {{ function('wp_footer') }}
</body>

</html>